<footer class="ng-hide" id="todo-footer" ng-show="todos.length">
	<span id="todo-count"><strong class="ng-binding">{{remaining}}</strong>
		<ng-pluralize count="remaining" when="{ one: 'item left', other: 'items left' }">items left</ng-pluralize>
	</span>
	<ul id="filters">
		<li>
			<a class="selected" ng-class="{selected: status == ''} " ng-click="$parent.status=''" href="#/">All</a>
		</li>
		<li>
			<a ng-class="{selected: status == 'active'}" ng-click="$parent.status='active'" href="#/active">Active</a>
		</li>
		<li>
			<a ng-class="{selected: status == 'completed'}" ng-click="$parent.status='completed'" href="#/completed">Completed</a>
		</li>
	</ul>
	<button class="ng-binding ng-hide" id="clear-completed" ng-click="clearCompleted()" ng-show="completed">
		Clear completed ({{completed}})
	</button>
</footer>
