<footer class="ng-hide" id="footer" ng-show="todos.length">
	<span id="todo-count"><strong class="ng-binding">0</strong>
		<ng-pluralize count="remainingCount" when="{ one: 'item left', other: 'items left' }">items left</ng-pluralize>
	</span>
	<ul id="filters">
		<li>
			<a class="selected" ng-class="{selected: status == ''} " href="#/">All</a>
		</li>
		<li>
			<a ng-class="{selected: status == 'active'}" href="#/active">Active</a>
		</li>
		<li>
			<a ng-class="{selected: status == 'completed'}" href="#/completed">Completed</a>
		</li>
	</ul>
	<button class="ng-binding ng-hide" id="clear-completed" ng-click="clearCompletedTodos()" ng-show="completedCount">
		Clear completed ({{completedCount}})
	</button>
</footer>
