<section>
	<section class="ng-hide" id="main" ng-show="todos.length">
		<ul id="todo-list">
			<li ng-repeat="todo in todos | statusFilter:todo.completed:status | orderBy:'id':true"
				ng-class="{'completed': todo.completed, 'editing': editmode}"
				ng-controller="TodoCtrl"
				>
				<div class="view">
					<i class="fa" ng-class="{'fa-circle-o': !todo.completed, 'fa-check-circle-o': todo.completed}" ng-click="todo.completed=!todo.completed"></i>
					<label ng-dblclick="edit()">{{todo.title}}</label>
					<button class="destroy" ng-click="remove()"><i class="fa fa-times"></i></button>
				</div>
				<form ng-submit="done()">
					<input class="edit"
						   ng-trim="false"
						   ng-model="todo.title"
						   ng-blur="done()"
						   todo-focus="todo == editedTodo">
				</form>
			</li>
		</ul>
	</section>
</section>
