#element-box,
#toolbar-box,
#submenu-box {
	font-size: 11px;
}

#element-box div.t,
#element-box div.b {
	height: 0;
	background: none;
	padding: 0;
}

#element-box div.m {
	border: none;
	padding: 0 !important;
}

#toolbar-box {
	display: none !important;
}

#submenu-box,
div.m {
	background: none !important;
}

#content-box {
	float: none;
	width: inherit;
}

#content-box div.m {
	padding: 0;
}

#content-box .padding {
	padding: 0 !important;
}

#system-message {
	display: none;
	margin: 0 0 -10px -25px;
}

table.adminlist thead th {
	border-bottom: none;
	padding: 4px 10px;
	text-align: center;
}

table.adminlist thead th:nth-child(1) {
	border-left: none;
}

table.adminlist td {
	text-align: center;
	line-height: 200%;
}

table.adminlist .leftalign {
	text-align: left;
}

table.table-striped tr:hover td {
	background: #ffd;
}

.nav-msg {
	float: left;
	position: absolute;
	margin-top: 8px;
	margin-left: 0;
	padding: 6px;
	opacity: 0;
}

.nav-msg-transition {
	opacity: 1;
	margin-left: 1%;
}

.subhead-collapse {
	display: none;
}

.container-main .navbar-fixed-top {
	margin-top: 38px;
}

.container {
	clear: none;
}
